.hh-box{
    width: 180px; height: 220px; border: 1px solid blue; text-align: center;
    padding-top: 10px; position: relative; 
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
}
.hh-box:hover{border-radius: 10px; box-shadow: 0 0 7px red;}
.hh-box-img{width: 150px;}
.hh-box-newicon{width: 50px; position: absolute; right: 0; top: 0;}
.hh-box-price {
    position: absolute;
    left: 20px;
    bottom: 8px;
    font-weight: bold;
    color: red;
}
.hh-box-actions {
    position: absolute;
    right: 8px;
    bottom: 5px;
    width: 25px;
}

.hh-box-actions img {
    cursor: pointer;
    border: 0px;
}
